[submodule "src/rplidar_ros"]
	path = src/rplidar_ros
	url = https://github.com/ncnynl/rplidar_ros2.git
[submodule "src/ros-controls/ros2_control"]
	path = src/ros-controls/ros2_control
	url = https://github.com/ros-controls/ros2_control.git
[submodule "src/ros-controls/ros2_controllers"]
	path = src/ros-controls/ros2_controllers
	url = https://github.com/ros-controls/ros2_controllers.git
[submodule "src/ros-controls/control_msgs"]
	path = src/ros-controls/control_msgs
	url = https://github.com/ros-controls/control_msgs.git
[submodule "src/ros-controls/realtime_tools"]
	path = src/ros-controls/realtime_tools
	url = https://github.com/ros-controls/realtime_tools.git
